/*
- default main axis of flex box goes left to right, but can change with flex-direction
- default cross axis of flex box goes up to down, but can change with flex-wrap
- justify-content default is flex-start, which starts content at the start of main axis, 
  flex-end starts at end of main axis
- align-items default is flex-start, which starts content at the start of cross axis, 
  flex-end starts at end of cross axis
- align-content - if in col, controls space between col, vice versa for rows
- flex-basis - defines initial size of element before space is distributed
- flex-grow - grows to take up more space if space available (can control min/max-width)
- flex-shrink - shrinks to take up less space if too big 
- flex - shorthand version (flex-grow | flex-shrink | flex-basis)
- elements shrink to fit in the flex box, so use flex-wrap: wrap to move elements to next line
*/

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    /* height: 500px; */
    margin: 0 auto;
    border: 5px solid #003049;

    display: flex;
    /* row, column, row-reverse, column-reverse */
    flex-direction: row;
    /* center, space-evenly, space-between, space-around, flex-start, flex-end */
    justify-content: center;
    /* center, flex-start, flex-end, baseline <- if elements have different heights, can align based on text */
    /* align-items: flex-start; */
    /* wrap, wrap-reverse */
    flex-wrap: wrap;

    /* space-between, flex-start, flex-end, center */
    /* align-content: center; */
}

#container div {
    width: 200px;
    height: 200px;
    flex-basis: 200px;
    flex-grow: 1;
}

/* changing the position of one element */
/* div:nth-of-type(3) {
    align-self: center;
} */

div:nth-of-type(1) {
    flex-grow: 1;
    flex-shrink: 2;
}

div:nth-of-type(2) {
    flex-grow: 2;
}

main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}

main .sidebar {
    background-color: #6930c3;
    flex: 1 2 300px;
}

main .maincontent {
    background-color: #80ffdb;
    flex: 2 1 600px;
}